<!-- <h1>Auth#index</h1>
<p>Find me in app/views/auth/index.html.erb</p>  -->

<script type="text/javascript">

$(document).ready(function(){
// 
     $('.send_button').click(function(){
  	 window.open("");

});

</script>





<!--	<%= link_to 'Authenticate this Facebook app', @auth_url, :class=>"button"%>  -->

				<%=link_to image_tag('/assets/facebook/send.png',:size => '80x35' , :alt => "Like"), @auth_url,:class => "send_button" %>
